.navbar-logo {
    width: 10rem;
    margin-left: 40px;

}

.cabecalho {
    background-color: #343a40;
    height: 100px;
    z-index: 1000;
}

.nav-link {
    color: #ffffff;
    transition: color 0.3s;
    margin-right: 40px;
}

.nav-link:hover {
    color: #FFD700;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-primary:hover {
    background-color: #0056b3;
}